POSTGRES_USER=
POSTGRES_PASSWORD=

OPENAI_API_KEY=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Enable langsmith
LANGSMITH_TRACING=true
LANGSMITH_API_KEY=<API_KEY>

# Create secret using `chainlit create-secret`
CHAINLIT_AUTH_SECRET=

# Admin panel settings
ADMIN_SECRET_KEY=
ADMIN_USERNAME=
ADMIN_PASSWORD=
